
@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 10s linear infinite;
    -moz-animation: rotating 10s linear infinite;
    -ms-animation: rotating 10s linear infinite;
    -o-animation: rotating 10s linear infinite;
    animation: rotating 10s linear infinite;
  }

.review-container {
    padding: 24px;
    border-radius: 25px;
    background-color: var(--color-accent);
}

.review-container {
    font-style: italic;
}

.review-container .head {
    display: flex;
    gap: 16px;
}

.review-container .body {
   margin-top: 24px;
}

.review-container .head .reviewer-details {
    display: flex;
    flex-direction: column;
}

.review-container .head .reviewer-details .stars {
    display: flex;
    gap: 8px;
    margin-top: 12px;
}

.review-container .head .reviewer-details .name {
    font-size: 19px;
    font-weight: 600;
}

.review-container .head .reviewer-details .designation {
    font-size: 16px;
    font-weight: 600;
}


/* @media only screen and (max-width: 1300px) {
  .review-container {
    bottom: -24%;
    left: 24px;
    width: 50%;
  }
}

@media only screen and (max-width: 1000px) {
  .review-container {
    position: static;
    bottom: -24%;
    left: 24px;
    width: 50%;
  }
} */