.area-separator {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 74px 0;
}

.area-separator > div {
    width: 100%;
    border-top: 2px solid var(--color-spacer);
}

@media only screen and (max-width: 768px) {
    .area-separator {
        padding: 24px 0;
    }
}

