.ci-wrapper {
    position: relative;
    margin: 74px 0;
    padding: 36px;
}

.ci-wrapper .review-bloc-mobile {
    display: none;
}

.ci-wrapper .frame {
    position: relative;
    border: 1px solid white;
    padding: 48px 24px;
    display: grid;
    gap: 24px;
    border-radius: 25px;
    grid-template-columns: 2fr 1fr;
}

.ci-wrapper .frame::after{
    content: '';
    background: url('/images/start-quote.png');
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 128px;
    color: var(--color-accent);
    bottom: -27px;
    right: 24px;
    width: 115px;
    height: 56px;
    transform: rotate(180deg);
    background-color: var(--bg-base);
}

.ci-wrapper .frame::before{
    content: '';
    background: url('/images/start-quote.png');
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 128px;
    color: var(--color-accent);
    top: -27px;
    left: 24px;
    width: 115px;
    height: 56px;
    background-color: var(--bg-base);
}

.ci-wrapper .frame .review-bloc {
    position: absolute;
    bottom: -18%;
    width: 30%;
    left: 24px;
}

.ci-wrapper .frame .text-bloc {
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: start;
    justify-content: start;
    margin-top: 30px;
}

.ci-wrapper .frame .text-bloc .hello > * {
    font-size: clamp(5rem, 3.9437rem + 4.507vw, 8rem);
    font-family: 'Harlow';
    color: var(--color-accent);
}

.ci-wrapper .frame .text-bloc .intro-text {
    font-size: clamp(1.1875rem, 1.0775rem + 0.4695vw, 1.5rem);
    font-style: italic;
    font-family: 'Inter';
}

.ci-wrapper .frame .image-bloc {
    max-width: 426px;
    height: 100%;
}

@media only screen and (max-width: 1300px) {
    .ci-wrapper .frame .review-bloc {
        bottom: -24%;
        left: 24px;
        width: 50%;
    }
}

@media only screen and (max-width: 1050px) {
    .ci-wrapper {
        padding: 16px 24px;
        margin: 56px 0;
    }

    .ci-wrapper .frame {
        grid-template-columns: 1fr 1fr;
    }

    .ci-wrapper .frame .review-bloc {
        display: none;
    }

    .ci-wrapper .review-bloc-mobile {
        margin-top: 48px;
        display: block;
    }
}

@media only screen and (max-width: 800px) {

    .ci-wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .ci-wrapper .frame {
        grid-template-columns: 1fr;
    }

    .ci-wrapper .frame .text-bloc {
        order: 2;
        align-items: center;
    }

    .ci-wrapper .frame .image-bloc {
        width: 100%;
        height: 100%;
        margin: auto;
    }
}