footer > div {
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 74px 48px;
}

footer {
    background-color: var(--color-primary);
}

footer .socials {
    display: flex;
    gap: 24px
}

footer .socials a {
    text-decoration: none;
    color: white;
}

footer .socials a:hover {
    text-decoration: none;
    color: var(--color-accent);
}

footer .name {
    margin: 24px 0;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 19px;
}

@media only screen and (max-width: 768px) {
    footer > div {
        flex-direction: column-reverse;
        gap: 24px;
        padding: 48px 16px;
    }

    footer .socials {
        width: 100%;
        justify-content: space-evenly;

    }
}

@media only screen and (max-width: 500px) {
    footer .socials {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}